<script src="reviews.js"></script>
<section class="reviews">
  <h2>Recenze</h2>

  <div class="reviews-wrapper">
    <button class="arrow left" id="prevBtn">&#8249;</button>

    <div class="reviews-viewport">
      <div class="reviews-track" id="reviewsTrack">
        <div class="review">
          <img src="assets/images/lukyHlobil.png" height="300" width="300"/>
          <p>
            pan Jančík mi dokázal pomoct když jsem měl trable s kódem
          </p>
          <strong>Dr. Lukáš Hlobil</strong>
          <span>Profesionální řidič</span>
        </div>

        <div class="review">
          <img src="assets/images/janKratky.png" height="300" width="300" alt="Jan Kratky"/>
          <p>
            Mará mi pomohl s úkoly do hodin wpa v prvním ročníku
          </p>
          <strong>Jan Krátký</strong>
          <span>Student IT</span>
        </div>

        <div class="review">
          <img src="assets/images/adamDavid.png" height="300" width="300"/>
          <p>
            Skvěle odvedená práce, hodně jsme si rozuměli
          </p>
          <strong>Adam David</strong>
          <span>IT specialista</span>
        </div>

        <div class="review">
          <img src="assets/images/zdenaPatik.png" height="300" width="300"/>
          <p>
            Marek vykonal požadovanou práci rychle a efektivně
          </p>
          <strong>Zdeněk Pátik</strong>
          <span>Student IT</span>
        </div>

        <div class="review">
          <img src="assets/images/hubertPostulka.jpg" height="350" width="300"/>
          <p>
            Perfektní a rychlá spolupráce. Web vypadá přesně tak,
            jak jsme si představoval.
          </p>
          <strong>Hubert Pošulka</strong>
          <span>Odborník na SEX</span>
        </div>

        <div class="review">
          <img src="assets/images/tomKubicek.png" height="300" width="300"/>
          <p>
            správu webu jsem svěřil panu jančíkovi a bylo to jedno z nejlepších rozhodnutí
          </p>
          <strong>Tomáš Kubíček</strong>
          <span>Student IT</span>
        </div>

      </div>
    </div>

    <button class="arrow right" id="nextBtn">&#8250;</button>
  </div>
</section>


